header {
   background-color: #70c4d1;
   border-radius: 5px;
   text-align: center;
}

#profile {
   width: 20%;
   border-radius:20px;
   margin: 20px;
   border: solid 5px black;
}

body {
   font-family: 'Source Sans pro';
   margin: 10px;
}

footer {
   background-color: #70c4d1;
   border-radius: 5px;
   line-height: 1em;
   text-align: center;
   padding: 10px;
}

#lessons {
   margin-left: 40px;
   margin-top: 10px;
   margin-bottom: 40px;
   line-height: 2em;
}

.last-updated, #modif {
   display: inline;
   color: black;
}

h1{
   margin-left: 60px;
   font-family: 'Supermercado One';
   font-size: 3em;
}
h2 {
   margin-left: 60px;
   font-family: 'Supermercado One';
   font-size: 2em;
}

.top {
   margin-bottom: 20px;
}

#byui {
   color: #19008a;
}