@media (min-width: 60em) {
    main, footer {
        max-width: 1600px;
        margin: 0 auto;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    nav li a {
        padding-left: 10px;
        padding-right: 10px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
    }

    #second {
        display: block;
        text-align: center;
        font-family: 'Roboto Condensed';
        border-top: solid black 2px;
        margin: 2px;
        padding: 10px;
    }
    
    #map {
        display: block;
    }

    #logo {
        height: 150px;
    }

    figure:hover {
        box-shadow: 0 0 50px #333;
     }
}