@media (min-width: 44.5em) {
    main, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    nav li a {
        padding-left: 10px;
        padding-right: 10px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
    }

    .navigation li:first-child {
        display: none;
    }

    #second {
        display: block;
        text-align: center;
        font-family: 'Roboto Condensed';
        border: solid black 2px;
        border-radius: 5px;
        margin: 2px;
        padding: 10px;
        height: 80px;
    }
}