h1 {
   font-family: 'PT Serif';
   text-align: center;
   color: #174d73;
   font-size: 3em;
}

#grid {
   display: grid;
   grid-gap: 30px;
   justify-self: center;
   justify-content: center;
}

picture img[data-src] {
   filter: blur(0.2em);
 }
 
picture img {
   filter: blur(0em);
   transition: filter 0.5s;   
   border: solid black 8px;
 }

 body {
    background-color: #e4e4e4;
 }