nav {
   width: 100%;
   margin: 0 auto;
   background-color: #555555;
   text-align: center;
   font-family: 'PT Serif';
   line-height: 2em;
}

.navigation {
   padding: 0;
   text-align: center;
   margin: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a:hover {
	color: black;
	background-color: white;
	font-weight: bold;
}

nav ul li.active a {
   background-color: #174d73;
}

nav a {
   display: block;
   color: white;
   text-align: center;
   padding: 0.75rem;
   text-decoration: none;
   font-size: 1em;
}

header,
nav, footer {
   width: 100%;
   margin: 0 auto;
}

.responsive li {
	display: block;
}

#currentdate {
   padding: 10px;
}

header,
footer {
   background-color: #174d73;
   color: white;
}

header {
   display: flex;
   flex-flow: row;
   width: 100%;
}

header #header {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   line-height: 5px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 20px;
}

#company, #motto {
   padding-left: 30px;
   padding-right: 30px;
   line-height: 1em;
   margin-bottom: -5px;
}

h1, h2, h3 {
   font-family: 'PT Serif';
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.5em;
   color: white;
   text-align: center;
   margin-bottom: -5px;
   letter-spacing: 2px;
}

h3 {
   color: white;
   font-size: .8em;
   font-style: italic;
   text-align: center;
   letter-spacing: 2px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
}


p {
   font-family: 'Roboto Condensed';
   text-align: center;
   line-height: 1.25rem;
   margin: 5px;
   color: black;
 }
 

body {
   background-color: #e4e4e4;
}

main {
   padding: 10px;
   background-color: rgb(224, 224, 224);
}

#logo {
   height: 100px;
   border: solid #555555 2px;
   margin-left: 20px;
   margin-top: 20px;
}

footer {
   padding-bottom: 10px;
   background-color: #174d73;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   font-family: 'PT Serif';
   color: white;
}

#title {
   text-align: center;
   color: white;
   font-size: 3em;
}

#bottom {
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-family: 'Roboto Condensed';
   border-top: solid black 2px;
   margin: 2px;
   padding: 10px;
}

#map {
   display: none;
   margin: 40px;
}

.icon {
   border: 1px solid black;
   border-radius: 18px;
   width: 1.25em;
   margin: 10px;
 }

div #contact h3 {
   color: black;
   font-size: 1.2em;
}

div.activities h2{
   color: black;
}

div.activities {
   margin: 10px;
   padding: 10px;
   text-align: center;
   border-top: solid black 2px;
}

#paragraphs {
   display: flex;
   justify-content: center;
   text-align: center;
}

#paragraphs p {
   padding: 20px;
   border: solid black 2px;
   margin-bottom: 20px;
}

img {
   max-height: 200px;
   margin-bottom: 20px;
   margin-top: 15px;
   border-radius: 5px;
   box-shadow: 0 0 5px rgb(0, 0, 0);
 }

#banner img {
   border-radius: 0px;
   box-shadow: none;
   width: 100%;
   margin: 0;
   padding: 0;
   max-height: none;
   border-bottom: black solid 2px;
}

#banner h1 {
   color: black;
   margin: 10px 0 10px 0;
}

 /*------cards----*/
 div.cards {
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center; 
   align-content: center;
 }
 
 div.cards section {
   display: grid; 
   justify-items: center; 
   width: 95%;
   margin: 10px;
   border: 1px solid black;
   background-color: #174d73;
   box-shadow: 0 0 30px rgb(0, 0, 0);
 }
 
