
#pancake {
   width: 100%;
   background-color: #fcc93d;
   color: black;
   text-align: center;
   padding: 10px;
   display: none;
}

nav {
   width: 100%;
   margin: 0 auto;
   background-color: #555555;
   text-align: center;
   font-family: 'PT Serif';
   line-height: 2em;
}

.navigation {
   padding: 0;
   text-align: center;
   margin: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a:hover {
	color: black;
	background-color: white;
	font-weight: bold;
}

nav ul li.active a {
   background-color: #174d73;
}

nav a {
   display: block;
   color: white;
   text-align: center;
   padding: 0.75rem;
   text-decoration: none;
   font-size: 1em;
}

header,
nav, footer {
   width: 100%;
   margin: 0 auto;
}

.responsive li {
	display: block;
}

#currentdate {
   padding: 10px;
}

header,
footer {
   background-color: #174d73;
   color: white;
}

header {
   display: flex;
   flex-flow: row;
   width: 100%;
}

header #header {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   line-height: 5px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 20px;
}

#company, #motto {
   padding-left: 30px;
   padding-right: 30px;
   line-height: 1em;
}

h1, h2, h3 {
   font-family: 'PT Serif';
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.5em;
   color: #174d73;
}

h3 {
   font-size: 1em;
   letter-spacing: .1em;
}

body {
   background-color: #e4e4e4;
}

main {
   padding: 20px;
}

p {
   line-height: 20px;
   font-family: 'Roboto Condensed';
}

#banner {
   margin-bottom: -4px;
}

#logo {
   height: 100px;
   border: solid #555555 2px;
   margin-left: 20px;
   margin-top: 20px;
}

#top {
   position: relative;
   top: 6px;
}

#summary {
   position: absolute;
   top: 1rem;
   left: 1rem;
   border: solid black 2px;
   padding: 10px;
   background-color: rgba(0, 0, 0, .7);
   color: white;
} 

#third {
   display: block;
   text-align: center;
   font-family: 'Roboto Condensed';
   border-top: solid black 2px;
   margin: 2px;
   padding: 0px;
}

#third img {
   width: 90%;
}

#bottom {
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-family: 'Roboto Condensed';
   border-top: solid black 2px;
   margin: 2px;
   padding: 10px;
}

#second {
   display: none;
}

footer {
   padding-bottom: 10px;
   background-color: #174d73;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   font-family: 'PT Serif';
   color: white;
}

.fullwidth {
   width: 100%;
}

#title {
   text-align: center;
   color: #174d73;
}

#map {
   display: none;
   margin: 40px;
}

.icon {
   border: 1px solid black;
   border-radius: 18px;
   width: 1.25em;
   margin: 10px;
 }

 #article-text {
    text-align: left;
 }


 #forecast {
    display: flex;
    justify-content: center;
 }

 #forecast p {
    padding-right: 10px;
    padding-left: 10px;
 }