@media (min-width: 50em) {
   .menu {
      display: flex;
  }

   .menu li:first-child {
      display: none;
  }

   .menu li {
      display: block;
      flex: 1 1 100%;
  }

   nav li a {
      padding-left: 0px;
      padding-right: 0px;
  }

   nav {
      padding-top: 4px;
   }

   .adventures {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   div.guides {
      display: flex;
      flex-wrap: wrap;
   }

   .guides section {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-evenly;
      flex: 1 1 100%;
  }

  .guide-info {
     width: 40%;
     padding: 20px;
  }

   .info {
      width: 40%;
   }

   .weather {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

   .weather div {
      align-content: center;
      align-items: center;
      align-self: center;
      justify-content: center;
   }

   #tables {
      display: flex;
      flex-direction: row;
      
   }

   table {
      margin: 20px;
   }
}
